@import '../utils/breakpoints';
@import '../utils/common';
@import '../utils/mixin';
@import '../utils/placeholders';
@import '../utils/variables';

.section-hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../img/hero-mobile.jpg');

  // media rule x2 background-image
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../img/hero-mobile@2x.jpg');
  }
  @media screen and (min-width: 768px) {
    background-size: cover;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../img/hero-tablet.jpg');

    // media rule x2 background-image
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../img/hero-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    background-size: cover;
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../img/hero-desktop.jpg');

    // media rule x2 background-image
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../img/hero-desktop@2x.jpg');
    }
  }

  background-color: $footer-background-color;

  // size hero image for mobile resolution 480-767 px
  @media screen and (min-width: $mobile) {
    max-width: 480px;
    height: 400px;
  }

  // size hero image for mobile resolution 768-1199 px
  @media screen and (min-width: $tablet) {
    max-width: 768px;
    width: 100%;
    height: 400px;
  }

  // size hero image for mobile resolution 1199-... px
  @media screen and (min-width: $desktop) {
    max-width: 100%;
    height: 600px;
  }

  // conteiner for content inside hero
  .container-hero {
    max-width: 360px;

    @media screen and (min-width: 1200px) {
      max-width: 696px;
    }

    text-align: center;

    .hero-title {
      margin-top: 0px;
      margin-bottom: 30px;

      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      letter-spacing: 0.06em;
      color: $primary-white-color;
      text-align: center;
      text-transform: uppercase;

      @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
      }
    }
  }
}
.hero-button {
  display: inline-block;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: $accent-color;
  color: $primary-white-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
